dtd/about.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<!ELEMENT working ((url, name))>
<!ELEMENT vcard ((info))>
<!ELEMENT url (#PCDATA)>
<!ELEMENT type ((post-office-box, locality, street-address, extended-address, region, country-name, postal-code))>
<!ATTLIST type
	name CDATA #FIXED "work"
>
<!ELEMENT tel (#PCDATA)>
<!ATTLIST tel
	type CDATA #FIXED "home"
>
<!ELEMENT street-address (#PCDATA)>
<!ELEMENT signposts ((nonce))>
<!ELEMENT region (#PCDATA)>
<!ELEMENT qq (#PCDATA)>
<!ELEMENT postal-code (#PCDATA)>
<!ELEMENT post-office-box (#PCDATA)>
<!ELEMENT page ((vcard))>
<!ELEMENT org ((url+))>
<!ELEMENT nonce (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT menu EMPTY>
<!ATTLIST menu
	custom CDATA #FIXED "no"
>
<!ELEMENT logo EMPTY>
<!ATTLIST logo
	alt CDATA #FIXED "Ghost"
	src CDATA #FIXED "images/mylogo9we.gif"
>
<!ELEMENT locality (#PCDATA)>
<!ELEMENT info ((logo, fn, email, qq, org, working, adr, contact, blog))>
<!ATTLIST info
	type CDATA #FIXED "Producer &amp; UI Designer"
>
<!ELEMENT header ((css, menu, signposts))>
<!ELEMENT given-name (#PCDATA)>
<!ELEMENT fn ((given-name, family-name))>
<!ELEMENT family-name (#PCDATA)>
<!ELEMENT extended-address (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT cssforest ((header, page))>
<!ATTLIST cssforest
	title CDATA #FIXED "About"
>
<!ELEMENT css EMPTY>
<!ATTLIST css
	src CDATA #FIXED "css/about.css"
>
<!ELEMENT country-name (#PCDATA)>
<!ELEMENT contact ((tel))>
<!ELEMENT blog (#PCDATA)>
<!ELEMENT adr ((type))>
