dtd/configure.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<!ELEMENT web-name (#PCDATA)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT title ((web-name, beta, url))>
<!ELEMENT name (#PCDATA)>
<!ATTLIST name
	url CDATA #FIXED "about.xml"
>
<!ELEMENT menu-li (#PCDATA)>
<!ATTLIST menu-li
	accesskey (I | B | A) #REQUIRED
	url CDATA #REQUIRED
>
<!ELEMENT menu ((menu-li+))>
<!ELEMENT language (#PCDATA)>
<!ELEMENT info ((name))>
<!ATTLIST info
	type CDATA #FIXED "Producer &amp; UI Designer"
>
<!ELEMENT header ((title, menu))>
<!ELEMENT footer ((about, copyright))>
<!ELEMENT cssforest ((language, header, footer))>
<!ELEMENT copyright (#PCDATA)>
<!ATTLIST copyright
	href CDATA #FIXED "http://creativecommons.org/licenses/by/3.0/"
>
<!ELEMENT beta (#PCDATA)>
<!ELEMENT about ((info))>
