dtd/index.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<!ELEMENT signposts ((nonce))>
<!ELEMENT rss EMPTY>
<!ATTLIST rss
	type (photo | article) #REQUIRED
	url (picasa.xml | article.xml) #REQUIRED
>
<!ELEMENT page ((rss+, links))>
<!ELEMENT nonce (#PCDATA)>
<!ELEMENT menu-li (#PCDATA)>
<!ELEMENT menu ((menu-li))>
<!ATTLIST menu
	custom CDATA #FIXED "no"
>
<!ELEMENT links EMPTY>
<!ATTLIST links
	url CDATA #FIXED "links.xml"
>
<!ELEMENT keywords (#PCDATA)>
<!ELEMENT header ((css, menu, signposts))>
<!ELEMENT cssforest ((keywords, header, page))>
<!ATTLIST cssforest
	title CDATA #FIXED "Index"
>
<!ELEMENT css EMPTY>
<!ATTLIST css
	src CDATA #FIXED "css/index.css"
>
